{% extends 'todo/base.html' %}


{% block content %}

<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        {% if todos %}
        <h1>{{ todos.count }} Current Todo{{ todos.count|pluralize }}</h1>
        {% else %}
        <h1> </h1>
        {% endif %}
    </div>
</div>
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        {% if todos %}
        <div class="list-group">
            {% for todo in todos %}
            <a href="{% url 'viewtodo' todo.id %}"
                class="list-group-item list-group-item-action {% if todo.important %} list-group-item-danger{% endif %}">
                <b> {{ todo.title }} </b>
                {% if todo.description %} - {{ todo.description|truncatechars:60 }} {% endif %}
            </a>
            {% endfor %}
        </div>
        {% else %}
        <div class="text-center">
            <h1>Looks like you don't have any todos!</h1>
            <br>
            <a role="button" class="btn btn-primary" href="{% url 'createtodo' %}">New Todo</a>
        </div>
        {% endif %}
    </div>
</div>


<!-- <h1>Current</h1>
{% if todos %}
<h1>{{ todos.count }} Current Todo{{ todos.count|pluralize }}</h1>
{% else %}
<h1>No Current Todos</h1>
    {% endif %}
    <ul>
        {% if todos %}
        {% for todo in todos %}
        <li>
            <a href="{% url 'viewtodo' todo.id %}">
                {% if todo.important %}<b>{% endif %} {{ todo.title }} {% if todo.important %}</b>{% endif %}
                {% if todo.description %} - {{ todo.description|truncatechars:60 }} {% endif %}
            </a>
        </li>
        {% endfor %}
        {% else %}
        <h1>Looks like you don't have any todos!</h1>
        <br>
        <a role="button" class="btn btn-primary" href="{% url 'createtodo' %}">New Todo</a>
        {% endif %}
    </ul> -->
    {% endblock content %}